*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color-bg: #fcfaf9;
  --width-percent: 100%;
  --body-width: 1400px;
}

body {
  width: var(--width-percent);
  max-width: var(--body-width);
  margin: 50px auto;
  background-image: url(/images/bg-main-desktop.png);
  background-position: 20% 23%;
  background-size: cover;
  background-color: var(--color-bg);
}

header {
  position: relative;
  margin-bottom: 200px;
}

header .header-container {
  display: flex;
  justify-content: space-around;
}

.bg-pattern-1 {
  transform: translate(37%, -15%);
}

.header-content {
  width: var(--width-percent);
  max-width: 600px;
}

.logo {
  margin-bottom: 6.4rem;
}

header h1 {
  font-size: 65px;
  margin-bottom: 2.4rem;
}

header p {
  font-size: 1.4rem;
  width: 131%;
  line-height: 1.4;
}

.features-container {
  border-radius: 15px;
  background: black;
  display: flex;
  align-items: baseline;
  height: 600px;
  width: 89%;
  margin: 0 111px;
  margin-bottom: 350px;
}

.features .illustrator-img {
  width: var(--width-percent);
  max-width: 328px;
  transform: translate(43%, -30%);
  z-index: 10;
}

.features .bg-pattern-2 {
  transform: translate(37%, -41%);
  width: 100%;
  max-width: 309px;
}

.premium-box {
  width: 100%;
  height: 661px;
  max-width: 459px;
  background: #fa7453;
  transform: translate(4%, -68%);
  border-radius: 18px;
  padding: 45px 51px 25px 60px;
}

.premium-box h3 {
  font-size: 30px;
  margin-bottom: 2rem;
  color: #fff;
}

.premium-box .premium-text {
  font-size: 1.7rem;
  width: 100%;
  max-width: 345px;
  line-height: 1.5;
  color: #ffffffc7;
  margin-bottom: 1.4rem;
}

.download a {
  display: block;
  padding: 18px 24px;
  background: #fff;
  width: 100%;
  max-width: 324px;
  border-radius: 12px;
  text-align: center;
  font-size: 1.4rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  margin-bottom: 1.4rem;
}

.price span {
  font-size: 60px;
  color: #fff;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1.4rem;
}

.download .ios {
  background-color: #191826;
  color: #fff;
}

a img {
  padding: 0 10px;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22%;
}

footer p {
  width: 100%;
  max-width: 300px;
  font-size: 1rem;
  font-weight: 500;
}

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  cursor: pointer;
  transform: translateX(42px);
}
